/* Estilos para el carrusel */
.carousel-container {
    margin-top: 120px; /* Espacio entre el carrusel y la barra de navegación */
    margin-bottom: 30px; /* Espacio entre el carrusel y la parte inferior de la página */
  }
  
  .owl-carousel {
    margin-top: 10px;
  }
  
  .owl-carousel .owl-item img {
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    max-width: 100%; /* Ajuste del ancho máximo de las imágenes */
    max-height: 500px; /* Ajuste de la altura máxima de las imágenes */
  }
  
  .owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #1bb125;
  }
  
  .owl-prev {
    left: -30px;
  }
  
  .owl-next {
    right: -30px;
  }
  